body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  .wrapper{
  background-image: url('./Images/microscope.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
  }
  .dash{
  background-image: linear-gradient(to right, rgb(193, 207, 221), rgba(164, 164, 243, 0));
  background-size: contain;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100vh;
  color: orange;
  
  }
  .home-body{
    height: 93vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
 


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
