.nav-bar{
    background-color: #043770;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}

.navlink{
    text-decoration: none;
    color: white;
}
.navlink li{
    list-style: none;
    font-size: 22px;
    margin: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 22px;
}
.navlink li:hover{
    background-color: #9ACDE0;
    cursor: pointer;
}


.right-menu{
    margin-left: auto;
}